<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <div class="w-full h-full bg-zinc-900 p-10 text-white">
    <div class="nav mb-10">
      <a href="/read" class="text-blue-500">Read Users</a>
    </div>
    <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
    <form action="/update/<%= user._id%>" method="post">
      <input type="text" class="px-5 py-2 bg-transparent border-2 rounded-lg outline-none " name="name" placeholder="name" value="<%=user.name %>">
      <input type="text" class="px-5 py-2 bg-transparent border-2 rounded-lg outline-none " name="email" placeholder="email" value="<%=user.email %>">
      <input type="text" class="px-5 py-2 bg-transparent border-2 rounded-lg outline-none " placeholder="imageurl" value="<%=user.imageurl %>">
      <input type="submit" value ="Update User" class="bg-yellow-500 text-black px-5 py-2 rounded-lg">

    </form>
  </div>
</body>

</html>