<html lang="en"></html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <a href="/" class="text-blue-500">Back to home</a>
    <h1 class="text-3xl mt-10 tracking-tighter mb-3">All users</h1>
    <div class="users flex flex-wrap gap-3">
      <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
        <div class="w-full h-52 rounded bg-zinc-700"></div>
        <h3 class="text-xl tracking-tighter mt-3">praveen singh</h3>
        <h5 class="text-zinc-500">praveen@gmail.com</h5>
        <div class="flex gap-3 mt-10">
          <a href="" class="text-zinc-600">Edit User</a>
          <a href="" class="text-red-500">Delete User</a>
        </div>
      </div>

      <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
        <div class="w-full h-52 rounded bg-zinc-700"></div>
        <h3 class="text-xl tracking-tighter mt-3">praveen singh</h3>
        <h5 class="text-zinc-500">praveen@gmail.com</h5>
        <div class="flex gap-3 mt-10">
          <a href="" class="text-zinc-600">Edit User</a>
          <a href="" class="text-red-500">Delete User</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>